*{margin:0;padding:0;}

#Header
{
    width: 100%; 
    height: 100px;
    background: #000000; 
    background-repeat: no-repeat;
    background-image: url(cover.png);
}

#MainMenu
{
    width: 100%; 
    height: 32px;
    position: absolute;
    z-index: 2;
    
    background-repeat: no-repeat;
    background: #3F3F3F; /* Old browsers, no gradient */
    background: -moz-linear-gradient(top, #555555 0%, #2A2A2A 100%) no-repeat; /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #2A2A2A)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #555555 0%,#2A2A2A 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #555555 0%, #2A2A2A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #555555 0%,#2A2A2A 100%); /* IE 10+ */
    background: linear-gradient(top, #555555 0%, #2A2A2A 100%); /* W3C standard */
}

.MainMenuEntry, .MainMenuEntryRt
{
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 32px;
    height: 32px;
    color: #FFA848;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-left: 1px solid #2A2A2A;
    border-right: 1px solid #555555;
}

.MainMenuEntryRt
{
    float: right;
}

#MainMenuEntryActive
{
    background: #FFFFFF;
    cursor: pointer;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #000000;
}

.MainMenuEntry:hover, .MainMenuEntry:active,
.MainMenuEntryRt:hover, .MainMenuEntryRt:active
{
    cursor: pointer;
    color: #FFFFFF;
    
    background-repeat: no-repeat;
    background: #FFFFFF; /* Old browsers, no gradient */
    background: -moz-linear-gradient(top, #626262 0%, #3B3B3B 100%) no-repeat; /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #2A2A2A)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #555555 0%,#2A2A2A 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #555555 0%, #2A2A2A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #555555 0%,#2A2A2A 100%); /* IE 10+ */
    background: linear-gradient(top, #555555 0%, #2A2A2A 100%); /* W3C standard */
}

.IllustrationRight
{
    border-radius: 10px;
    border: 10px solid #C0C0C0;
    float: right;
    margin: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.BlockRight
{
    border-radius: 10px;
    border: 1px solid #C0C0C0;
    float: right;
    margin: 10px;
    margin-right: 30px;
    margin-left: 30px;
    
    padding: 10px;
    text-align: justify;
    width: 30%;
}

.Title
{
    color: #000000;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.Body
{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 12px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.Body a
{
    color: #0B3861;
}

