#MainMenuBg
{
    border-radius: 6px;
    width: 800px; 
    height: 40px;
    background: #CCCCCC;
    float: center;
    position: absolute;
    z-index: 2;
} 

#MainMenu
{
    border-radius: 6px;
    width: 800px; 
    height: 40px;
    float: center;
    position: relative;
    z-index: 200;
    bottom: 5px;
    /* left: 6px; */
    background-repeat: no-repeat;
    background: #EAEAEA; /* Old browsers, no gradient */
    background: -moz-linear-gradient(top, #F2F2F2 0%, #E4E4E4 100%) no-repeat; /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F2F2F2), color-stop(100%, #E4E4E4)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #F2F2F2 0%,#E4E4E4 100%); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #F2F2F2 0%, #E4E4E4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F2F2F2 0%,#E4E4E4 100%); /* IE 10+ */
    background: linear-gradient(top, #F2F2F2 0%, #E4E4E4 100%); /* W3C standard */
}

.MainMenuEntry
{
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 40px;
    height: 40px;
    color: #333333;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0px 1px 0px #E4E4E4;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #E4E4E4;
}

.MainMenuEntry:hover, .MainMenuEntry:active
{
    cursor: pointer;
    background-color: #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #0066CC;
} 
